

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 @media screen and (max-width:960px) {
    header{
       display: flex;
       flex-direction: column;
    }
 
    header .navbar-brand {
       margin: 0 auto 10px ;
    }
 
 
    footer{
       flex-direction: column;
       margin: 15px auto;
    }
    footer .navbar-brand{
       margin: 0 auto;
    } 
    footer .iconos img{
       width: 100%;
    }
 }
 
 
 
 
 /* CONTACTO.HTML */
 
 #contacto {
    background-image: url(../img/contactoFondo.jpg);
    background-size: cover;
    height: 100vh;
 
 }
 
 #contacto .formularioContacto{
    display: flex;
    justify-content: center;
    padding-top: 20vw;
  
 }
 
 .formularioContacto form div{
    padding: 3px;
    background-color: rgb(247, 244, 242, 0.3);
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
 }
 @media screen and(max-width:960px) {
 .formularioContacto form div input{
    width: 10vh;
  }
 }
 
 