/* FONTS */
/* font-family: 'Open Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'vars';
@import 'index';

/* A TODAS LAS PÁGINAS DEL SITIO */

@media (max-width:$mobile){
    .header{
        display: flex;
        flex-direction: column;
        & .navbar-brand{
            margin: 0 auto 10px;
        }
        & .container .nav{
            display: flex;
            justify-content: center;
        }
    }

    .footer{
        flex-direction: column;
        margin: 15px auto;
            & .navbar-brand{
                margin: 0 auto;
            }
            & .footerRedes{
                margin: auto;
                justify-content: space-around;
            }
        
    }
}

@media (max-width:$tablet){
    .header{
        display: flex;
        flex-direction: column;
        & .navbar-brand{
            margin: 0 auto 10px;
        }
     
    }

    .footer{
        flex-direction: column;
        margin: 15px auto;
            & .navbar-brand{
                margin: 0 auto;
            }
            & .footerRedes{
                margin: auto;
                justify-content: space-around;
            }
        
    }

}


/* INICIO */
.inicio .presentacion{
    max-width: 60%;
    & .card-title{
        color: $titles;
    }
    & .card-text{
        color: $paragraphs;
    }
 }
.pasosCompra{
    margin: auto;
    max-width: 60%;
}

.contenido{
    & .containerNovedades{
        background-image: url(../img/fondoNovedades.jpg);
        background: {
            size: cover;
            position: center;
        }
        box-shadow: inset 0 0 100px 150px rgba(0, 0, 0, .3);
        display: block;
        color: #f3f3f3;
        align-items: center;
    }

    & h1{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
    & h2{
        margin: 20px auto;
        text-align: center;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    & .cartelNeon{
        animation: neon 2s infinite alternate;
    }
    & .novedadesVinos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 100px 25px;
    }
}

/* ANIMACIÓN */
@keyframes neon {
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
       text-shadow: 0 0 25px #3485ff,
                    0 0 35px #00246c, 
                    0 0 30px #00246c, 
                    0 0 50px #3485ff; 
    }
    10%, 15%, 60%{
       text-shadow: none;
    }
  } 

@media (max-width: $mobile){
    main{
         .presentacion{
            display: contents;
        }
        & .newsletter .card{
            margin: 5%;
        }
        & .newsletter .card-body{
            margin: 5px 10px;
            padding: 5px;
        }
    }

    .contenido{
        & .novedadesVinos{
        margin: 20% 25px 100px 25px;
        
            img{
                width: 50%;
                height:auto;
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: $tablet) {
    main{
     .newsletter {
            .card{
                margin: 10%;
            }
            .card-body{
                margin: 10% 20%;
            }
        }
    }
    .presentacion {
        display: contents;
     
     }
    .pasosCompra{
        width: 80%;
    }    

}

@media (max-width: $desktop) {
    main{
         .newsletter {
            .card{
                margin: 10%;
               box-shadow: 
                    0 0 25px #3485ff,
                    0 0 35px #cc8e35, 
                    0 0 30px #cc8e35, 
                    0 0 50px #3485ff;  
            }
            .card-body{
                margin: 10% 20%;
            }
        }
    }
    .presentacion {
        display: contents;
     
     }
    .pasosCompra{
        width: 60%;
    }    
}

/* SECCIÓN INFO COMPRAS */

/* MIXINS */

@mixin headers-title{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 20px 25px #00246c;
    text-align: center;
}

.title{
    @include headers-title;
}


/* CONTACTO */

#contacto{
    background-image: url(../img/contactoFondo.jpg);
    background-size: cover;
    height: 100vh;
    .formularioContacto{
        display: flex;
        justify-content: center;
        padding: 15%;
        & form div{
            padding: 3px;
            background-color: rgb(247, 244, 242, 0.3);
            display: flex;
            flex-direction: column;
            padding: 5px 15px;
        }
    }
}

@media (max-width:$desktop) {
    .formularioContacto form div input{
        width: 100%;
    }

}