@charset "UTF-8";
/* FONTS 
 font-family: 'Open Sans', sans-serif; 
 font-family: 'Finlandica', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* MAPS */
.style-titulo {
  color: #2f3542;
}

.style-subtitulo {
  color: #57606f;
}

/* MIXINS */
/* EXTEND */
.paragraphs, .container p, .inicio .presentacion .card-text {
  font-family: "Finlandica", sans-serif;
  font-size: 24px;
  color: #3d3d3d;
  text-justify: inter-ideograph;
}

/* A TODAS LAS PÁGINAS DEL SITIO */
h1 {
  text-align: center;
  margin: 15px, 0;
}

@media (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .navbar-brand {
    margin: 0 auto 10px;
  }
  .header .container .nav {
    display: flex;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
    margin: 15px auto;
  }
  .footer .navbar-brand {
    margin: 0 auto;
  }
  .footer .footerRedes {
    margin: auto;
    justify-content: space-around;
  }
}
@media (max-width: 780px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .navbar-brand {
    margin: 0 auto 10px;
  }
  .footer {
    flex-direction: column;
    margin: 15px auto;
  }
  .footer .navbar-brand {
    margin: 0 auto;
  }
  .footer .footerRedes {
    margin: auto;
    justify-content: space-around;
  }
}
/* INICIO */
.inicio .presentacion {
  max-width: 60%;
}
.inicio .presentacion .card-title {
  color: #1e272e;
}
.pasosCompra {
  margin: auto;
  max-width: 60%;
}

.contenido .containerNovedades {
  background-image: url(../img/fondoNovedades.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 100px 150px rgba(0, 0, 0, 0.3);
  display: block;
  color: #f3f3f3;
  align-items: center;
}
.contenido h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: "Finlandica", sans-serif;
}
.contenido h2 {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Finlandica", sans-serif;
}
.contenido .cartelNeon {
  -webkit-animation: neon 2s infinite alternate;
          animation: neon 2s infinite alternate;
}
.contenido .novedadesVinos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 25px;
}

/* ANIMACIÓN */
@-webkit-keyframes neon {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 0 0 25px #3485ff, 0 0 35px #00246c, 0 0 30px #00246c, 0 0 50px #3485ff;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
@keyframes neon {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 0 0 25px #3485ff, 0 0 35px #00246c, 0 0 30px #00246c, 0 0 50px #3485ff;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
@media (max-width: 576px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inicio .presentacion {
    display: contents;
  }
  .inicio .newsletter .card {
    margin: 5%;
  }
  .inicio .newsletter .card-body {
    margin: 5px 10px;
    padding: 5px;
  }
  .contenido .novedadesVinos {
    margin: 20% 25px 100px 25px;
  }
  .contenido .novedadesVinos img {
    width: 50%;
    height: auto;
    margin-top: 15px;
  }
}
@media (max-width: 780px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inicio .newsletter .card {
    margin: 10%;
  }
  .inicio .newsletter .card-body {
    margin: 10% 20%;
  }
  .presentacion {
    display: contents;
  }
  .pasosCompra {
    width: 80%;
  }
}
@media (max-width: 1500px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inicio .newsletter .card {
    margin: 10%;
    box-shadow: 0 0 25px #3485ff, 0 0 35px #cc8e35, 0 0 30px #cc8e35, 0 0 50px #3485ff;
  }
  .inicio .newsletter .card-body {
    margin: 10% 20%;
  }
  .presentacion {
    display: contents;
  }
  .pasosCompra {
    width: 60%;
  }
}
/* SECCIÓN INFO COMPRAS */
.title {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 8px 10px 20px #34495e;
  text-align: center;
  background-color: #E4DCCF;
  color: #809A6F;
  margin-bottom: 25px;
}

.container p {
  margin-top: 5px;
  padding: 15px;
}

/* CONTACTO */
#contacto {
  background-image: url(../img/contactoFondo.jpg);
  background-size: cover;
  height: 100vh;
}
#contacto .formularioContacto {
  display: flex;
  justify-content: center;
  padding: 15%;
}
#contacto .formularioContacto form div {
  padding: 3px;
  background-color: rgba(247, 244, 242, 0.3);
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

@media (max-width: 1500px) {
  .formularioContacto form div input {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */